.navbar {
  display: flex;
  background-color: #2a2d34;
  color: white;
  padding: 15px;
}

.navbar-left {
  width: 80%;
}

.logo-name-wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navbar-logo {
  width: 80px;
  padding-right: 10px;
}

.navbar-name {
  width: 30%;
}

.navbar-right {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}
