.navbar {
  display: flex;
  background-color: #2a2d34;
  color: white;
  padding: 5px;
}

.navbar-left {
  width: 60%;
}

.logo-name-wrapper {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.navbar-logo {
  width: 90px;
  padding-right: 10px;
}

.navbar-name {
  width: 30%;
}

.navbar-right {
  display: flex;
  width: 15%;
  justify-content: space-around;
  align-items: center;
}

.nav-search {
  padding-top: 15px;
  width: 20%;
  height: 50%;
  display: flex;
  align-items: center;
}
