.videoCard-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  /* border: 1px solid orange; */
  overflow: scroll;
}
.video-card {
  width: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.video {
  border: 1px solid black;
  width: 100%;
}
.video-title {
  word-break: break-all;
}
.video-card-btn {
  border: none;
  font-size: 14px;
  background-color: #009ddc;
  color: #efefef;
  border-radius: 3px;
  padding: 10px;
}
.video-card-btn:hover {
  background-color: #2a2d34;
}

/* .reaction{
  background-color:red;
  width:50px;
  height:50px;
  font-size: 10px;
  position: relative;
  top:10%;
  left:5%; */
/* } */
.video-card:hover .react{
  opacity:1;
  cursor: pointer;
}

.react{
  background:url('../../images/rypl.png') no-repeat;
  background-size: 80%;
  background-color: Transparent;
  opacity: .5;
  background-repeat:no-repeat;
  position : absolute;
  width: 20%;
  height: 10%;
  left: 180%;
  top: 2%;
  border:none;
  
}



.wrap{
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;

}

