.category-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.video-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.one-wrapper {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}
/* 
.top-original-video {
  width: 100%;
  display: flex;
  text-align: left; */

.one-video {
  width: 100%;
}

.bottom-panel-reactions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 10%;
  overflow: scroll;
}

.reaction-video-single {
  width: 33%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
  padding-right: 0;
  justify-content: left;
}

.single-card {
  border: 1px solid black;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ccc;
}

.responses-row {
  white-space: nowrap;
  overflow-x: scroll;
  max-height: -webkit-fill-available;
}
.video_containerrs {
  /* width: 100%; */
  height: -webkit-fill-available;
}

.this_card:hover .response_container {
  width: 100%;
  border-right: solid 5px #3c3735;
}

.video_responses {
  width: fit-content;
  position: relative;
  overflow: scroll;
}

.this_card:hover .video_container {
  opacity: 0.5;
}

.this_card_content {
  overflow-wrap: break-word;
  text-align: left;
}

.this_card {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 21rem;
  margin-top: 0px;
  margin: 1%;
  overflow: scroll;
  width: 15rem;
}

.this_card :hover {
  height: fit-content;
  transition: all 0.4s ease-in-out;
}

.arrow1 {
  -webkit-animation: slide1 1s ease-in-out infinite;
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

.flex_row {
  display: flex;
  overflow: hidden;
  transition: 1s ease-out;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.unstyled {
  list-style: none;
  padding: 5px;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}

.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}

.header {
  position: absolute;
  height: 100vh;
  background: #2a2d34;
  width: 10%;
}

.main-nav ul {
  border-top: solid 1px #3c3735;
}
.main-nav li {
  border-bottom: solid 1px #3c3735;
}
.main-nav a {
  padding: 1.1em 0;
  color: #dfdbd9;
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
}
.main-nav a:hover {
  color: #fff;
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}
.list-hover-slide a:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #d2d7df;
  background: #009ddc;
  transition: 0.35s ease left;
}
.list-hover-slide a.is-current:before,
.list-hover-slide a:hover:before {
  left: 0;
}

/* OLD CARDS STYLES

/* .card { */
/* background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
  text-align: center;
  transition: height 1000ms;
  width: 260px; */
/* box-shadow: -1rem 0 1rem gray; */

/* cursor: pointer;
  display: flex;
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin: 10px;
  max-height: 15rem;
  overflow: scroll;
  box-sizing: border-box;
  max-width: 15rem;
  border: #3c3735 solid 1px;
} */
