.entire-page {
  height: 100vh;
  display: flex;
  overflow: scroll;
}

.sideNav-wrapper {
  width: 10%;
}

.content-wrapper {
  width: 80%;
  margin: 30px;
  padding: 30px;
  text-align: center;
  height: 100vh;
  justify-items: center;
}

.arrow-space {
  width: 10%;
}

.arrow-icon {
  width: 50px;
}

.trending {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
}

.cateogry-wrapper {
  margin-top: 40px;
  padding: 50px;
  text-align: center;
  height: 5%;
}

/* .category {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
} */

.cat_item:hover {
  cursor: pointer;
}
