.entire-page {
  height: 100vh;
  /* display: flex;
  flex-wrap: nowrap; */
}

.carousel-wrapper {
  margin: 30px;
  padding: 30px;
  text-align: center;
  height: 45%;
  /* background-color: #efefef; */
}

.trending {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
}

.cateogry-wrapper {
  margin-top: 40px;
  padding: 50px;
  text-align: center;
  height: 5%;
}

.category {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 20px;
}

/* .category-btn {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #009ddc;
} */
/* 
.background {
  background-color: #efefef;
} */
