.video-container {
  padding: 20px;
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  background-color: #f6f6f6;
  display: flex;
  /* padding: 10px; */
  justify-content: center;
}

.mid-panel {
  width: 30%;
  background-color: #fafafa;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
}

.right-panel {
  width: 20%;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
}
