.video-container {
  padding: 20px;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-panel {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.mid-panel {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.right-panel {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
}
