.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.col1 {
  width: calc(1 * 8.33333%);
}
.col-2 {
  width: calc(2 * 8.33333%);
}
.col-4 {
  width: calc(4 * 8.33333%);
}
.col-5 {
  width: calc(5 * 8.33333%);
}

.col-6 {
  width: calc(6 * 8.33333%);
}
.col-7 {
  width: calc(7 * 8.33333%);
}

.main-video {
  display: flex;
  justify-content: center;
  padding: 1%;
  overflow: scroll;
  /* background-color: rgb(162, 162, 162); */
  background-color: white;

  border: 1px solid gray;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.reactions-videos {
  display: flex;
  justify-content: center;
  padding: 1%;
  overflow: scroll;
  background-color: white;
  /* background-color: #d2d7df; */
  border: 1px solid gainsboro;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.replies-videos {
  display: flex;
  justify-content: center;
  padding: 1%;
  overflow: scroll;
  background-color: white;
  /* background-color: #2a2d34; */
  /* background-color: whitesmoke; */
  /* border: 1px solid whitesmoke; */
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.card-container {
  /* width: 40rem; */
  height: 10rem;
}
.mycard-container .mycard {
  /* background-color: #fff; */
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: auto;
  margin-top: 0px;
  margin-bottom: 3%;
  overflow: scroll;
  transition: all 0.4s ease-in-out;
  width: 100%;
  padding: 2%;
}

.mycard.replies {
  background-color: #009ddc;
}

.main-hr {
  width: 30%;
  border: none;
  border-top: 1px solid #c3c3c3;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: red;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.card-title-btn.container {
  /* background-color: brown; */
  display: grid;
  padding: 4px;
  margin: 10px;
}
.shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.title-and-btn {
  display: inline-flex;
  position: relative;
}

.reactions.card-mytitle {
  max-width: 80%;
  word-break: keep-all;
  position: relative;
  left: 2%;
}

.reactions.icon-btn.add-btn {
  position: absolute;
  right: 2%;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    display: block;
    overflow: scroll;
  }
  .main-video {
    max-height: 70vh;
    width: 100%;
  }
  .reactions-videos {
    display: contents;
    width: 500px;
  }
  .mycard-container.responses {
    display: inline;
  }
  .my-row {
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
  }
  .replies-videos {
    display: contents;
    width: 500px;
  }
  .mycard-container.replies {
    display: inline;
  }
}
