* {
  box-sizing: border-box;
}

.entire-video-page {
  height: 60%;
  margin: 100px;
  padding: 30px;
  display: flex;
  justify-content: center;
  /* border: 1px solid #2a2d34; */
  border-radius: 15px;
}

.upload-video-wrapper {
  height: 10%;
  margin: 50px;
  padding: 30px;
  justify-content: center;
  background-color: #2a2d34;
  /* border-radius: 25px; */
  display: flex;
}

.upload-title {
  font-size: 18px;
  font-weight: 600;
}

.video-record-left-panel {
  width: 40%;
  height: 100%;
}

.handle-record-right-panel {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.handle-title {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.handle-description {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  word-break: break-all;
}

.handle-category-dropdown {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.form-title {
  width: 40%;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  padding: 10px;
}

.input-form {
  width: 100%;
  font-size: 18px;
  border: 1px solid #2a2d34;
  border-radius: 5px;
  padding: 10px;
}

.select-dropdown {
  width: 100%;
  font-size: 18px;
  border: 1px solid #2a2d34;
  border-radius: 5px;
}

.annotation-box {
  border: 1px solid #2a2d34;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  overflow: scroll;
}

.upload-btn-wrapper {
  background-color: #009ddc;
  border-radius: 5px;
}

.upload-btn {
  border-radius: 5px;
  margin: 20px;
}

.submit-btn-wrapper {
  padding-top: 10px;
}
