.videoCard-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  overflow: scroll;
}

.home-page-videocards {
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  padding-bottom: 10px;
}

.video-title {
  word-break: break-all;
}

.user-wrapper {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid #efefef;
}

.user-image {
  width: 30%;
  border-radius: 50%;
  justify-items: center;
}

.user-name {
  width: 80%;
  text-align: left;
  word-break: break-all;
}

.video-card-btn {
  border: none;
  font-size: 14px;
  background-color: #009ddc;
  color: #efefef;
  border-radius: 3px;
  padding: 10px;
  width: 80%;
}

.video-card-btn:hover {
  background-color: #2a2d34;
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
}
