.player{
    margin-left: 25%;
    margin-top:  25%;
}

.upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
}
      
.btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
}
.btn1{
    margin-top: 50px;
    border: 2px solid blue;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
}

.col{
    width: calc(2 * 8.333%);

}

.btnContainer{
        display: flex;
        height: 100%;
        flex: wrap;
        width:10%;
}
      
.upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
}
